.hide {
  display: none;
}

header {
  text-align: center;
  position: fixed;
  top: 5.5rem;
  color: white;
  text-decoration: overline;
  text-decoration-style: wavy;
}

h1 {
  font-size: 50px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10rem;
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 2.5em;
  width: 2.5em;
  outline: none;
}

input {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  width: 50%;
  height: 44px;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
}

button:hover {
  background-color: dimgray;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans";
  font-size: 18px;
  color: white;
  background-image: url("../images/IMG_5931.JPG");
}

.card {
  border-style: solid;
  border-radius: 22px;
  background: #383838d0;
}

#weather-card {
  width: 100%;
  max-width: 400px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
  font-size: 20px;
}

#weather-card #city-name {
  font-size: 25px;
}

#weather-card #temp {
  font-size: 30px;
  padding-bottom: 0.7em;
  padding-top: 0.3em;
}

.card-body p {
  line-height: 12px;
}

.future-cards {
  width: 35%;
  height: 160px;
  font-size: 20px;
  margin: 10px;
  margin-top: 20px;
}

.future-cards p {
  margin-top: 18px;
  line-height: 12px;
}
